@{
    ViewData["Title"] = "About";
}
    
<h2>@ViewData["Title"]</h2>

<hr/>

<h4>Price Tracker is a price tracker and comparator.
    It scrapes data from Amazon, Ebay and John Lewis.
    A crawler in the background constantly updates your saved searches</h4>