@{
    ViewData["Title"] = "About";
}
    
<h2>@ViewData["Title"]</h2>

<hr/>

<img src="https://i0.wp.com/www.rowsdowr.com/wp-content/uploads/2012/10/homers-web-page.gif?resize=500%2C320&ssl=1"/>
@* <iframe width="560" height="315" src="https://www.youtube.com/embed/_7AanS219jQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> *@