@{
    ViewData["Title"] = "About";
}
    
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>SUUUCAAA FORTEEE !!</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/_7AanS219jQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>