@using Microsoft.AspNetCore.Razor.Language
@{
    ViewData["Title"] = "search product";
}

<h2 style="text-align: center; margin-top: 5%;">@ViewData["Title"]</h2>

@*search input html*@
<div class="container" style="margin-top: 5%; margin-bottom: 15%">
    <div class="row">

        <form asp-action="Result" asp-controller="Home" style="margin: 0 auto">
            <div class="form-group" style="margin: auto;">
                <input type="text" class="form-control" name="search" id="search" placeholder="search products..." size="50" style="margin: auto;" autofocus>
                <input type="submit" 
                       style="position: absolute; left: -9999px; width: 1px; height: 1px;"
                       tabindex="-1" />
            </div>
        </form>
    </div>
</div>

<!-- 
░░▄░░░▄░▄▄▄▄░░░░░░░░░░░░░░░
░░█▀▄▀█░█▄▄░░░░░░░░░░░░░░░░
░░█░░░█░█▄▄▄░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░
░▄▄▄░▄░░░▄░░▄▄▄░▄▄▄▄▄░░▄▄▄░
█░░░░█░░░█░█░░░░░░█░░░█░░░█
█░▀█░█░░░█░░▀▀▄░░░█░░░█▀▀▀█
░▀▀▀░░▀▀▀░░▄▄▄▀░░░▀░░░▀░░░▀ 
-->
