@{
    ViewData["Title"] = "Search product";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

@*search input html*@
<div class="container" style="margin-top:30px">
    <div class="row">

        <div class="form-group" style="margin: auto;">
            <input type="text" class="form-control" id="search" placeholder="Search products" size="50" 
                   style="margin: auto;">  
        </div>

    </div>
</div>
